@font-face {
  font-family: 'icomoon-two';
  src: url("../media/tpl_esk/fonts/rasshifrovka-kamaz/icomoon.eot?4c429z");
  src: url("../media/tpl_esk/fonts/rasshifrovka-kamaz/icomoon.eot?4c429z#iefix") format("embedded-opentype"), url("../media/tpl_esk/fonts/rasshifrovka-kamaz/icomoon.ttf?4c429z") format("truetype"), url("../media/tpl_esk/fonts/rasshifrovka-kamaz/icomoon.woff?4c429z") format("woff"), url("../media/tpl_esk/fonts/rasshifrovka-kamaz/icomoon.svg?4c429z#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

/*[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon-two' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/
/*.icon-noun-check:before {
  content: "\e900";
}
.icon-i:before {
  content: "\e901";
}
.icon-noun-mail:before {
  content: "\e902";
}
.icon-Tw:before {
  content: "\e903";
}
.icon-Wk:before {
  content: "\e904";
}
.icon-Tg:before {
  content: "\e905";
}
.icon-Yt:before {
  content: "\e906";
}
.icon-noun-arrow:before {
  content: "\e909";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}*/
.page-content-inner .container {
  max-width: 77.5rem;
  display: block; }

/*=============================*/
.content-breadcrumb-inner {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 0;
  border-bottom: 0;
  padding-top: 0.56rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1.25rem; }
  .content-breadcrumb-inner .breadcrumb-item-inner {
    margin-right: 1.6rem;
    position: relative; }
    .content-breadcrumb-inner .breadcrumb-item-inner a, .content-breadcrumb-inner .breadcrumb-item-inner:after {
      color: #777777;
      font-size: 0.94rem;
      font-weight: 400;
      word-wrap: break-word; }
    .content-breadcrumb-inner .breadcrumb-item-inner:after {
      content: "/";
      position: absolute;
      pointer-events: none;
      display: block;
      right: -0.65rem;
      top: 50%;
      -webkit-transform: translate(100%, -50%);
      -ms-transform: translate(100%, -50%);
      transform: translate(100%, -50%); }
    @media (min-width: 1064px) {
      .content-breadcrumb-inner .breadcrumb-item-inner a {
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        .content-breadcrumb-inner .breadcrumb-item-inner a:hover {
          color: #3062bf;
          text-decoration: none; }
        .content-breadcrumb-inner .breadcrumb-item-inner a:active {
          -webkit-transform: translateY(1px);
          -ms-transform: translateY(1px);
          transform: translateY(1px);
          opacity: 0.8; } }
  .content-breadcrumb-inner .breadcrumb-active-inner span:after {
    display: none; }
  .content-breadcrumb-inner .breadcrumb-active-inner span {
    color: #444f60; }

/*==================================*/
/*==================================*/
.article-header-inner {
  margin-bottom: 3.16rem; }
  .article-header-inner .header-title-inner {
    color: #444F60;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 0.4rem;
    text-align: left; }
  .article-header-inner .header-info-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    gap: 1.5rem; }
    @media (max-width: 540px) {
      .article-header-inner .header-info-inner {
        gap: 0.3rem; } }
  .article-header-inner .info-item-inner:first-child {
    margin-left: 0; }
  .article-header-inner .info-item-inner:before {
    display: none; }
  .article-header-inner .info-item-inner,
  .article-header-inner .star-info-inner {
    color: #444F60;
    font-size: 0.955rem;
    font-weight: 400;
    margin-left: 0.35rem; }
    @media (max-width: 540px) {
      .article-header-inner .info-item-inner,
      .article-header-inner .star-info-inner {
        margin-left: 0; } }
  @media (max-width: 540px) {
    .article-header-inner {
      margin-bottom: 1.5rem; } }

.info-star-inner .star-item-inner:before {
  content: "\e9d7";
  font-family: 'icomoon-two' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  margin-right: 3.2px; }

.info-star-inner .star-item-inner.active:before {
  content: "\e9d9"; }

.content-article-inner {
  display: block; }
  .content-article-inner .article-description-inner {
    background: none;
    padding: 0;
    border-left: 0 solid #000;
    display: block; }
  .content-article-inner .article-description-inner > p {
    max-width: 62.1rem;
    color: #444F60;
    font-size: 1.12rem;
    font-family: Arial;
    font-weight: 400;
    line-height: 138%; }
    .content-article-inner .article-description-inner > p a {
      color: #3062BF; }
      @media (min-width: 1064px) {
        .content-article-inner .article-description-inner > p a {
          -webkit-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
          .content-article-inner .article-description-inner > p a:hover {
            text-decoration: none;
            color: rgba(244, 111, 34, 0.8); }
          .content-article-inner .article-description-inner > p a:active {
            opacity: 0.8; } }
    .content-article-inner .article-description-inner > p b {
      font-weight: 700; }
  .content-article-inner .article-description-inner > p:nth-child(2) {
    background: #e8eff6;
    color: #444F60;
    font-size: 0.95rem;
    font-family: Arial;
    font-weight: 400;
    line-height: 120%;
    border-radius: 0.1rem;
    padding: 1.2rem;
    padding-left: 3.7rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    position: relative; }
    @media (max-width: 540px) {
      .content-article-inner .article-description-inner > p:nth-child(2) {
        margin-bottom: 1.5rem;
        margin-top: 1.5rem; } }
  .content-article-inner .article-description-inner > p:nth-child(2):before {
    content: "\e901";
    font-family: 'icomoon-two' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 1.26rem;
    top: 1.2rem;
    font-size: 1.9rem;
    color: #3062bf; }
  .content-article-inner nav > b {
    max-height: 0;
    display: none; }
  .content-article-inner ul {
    margin-left: 0;
    display: block; }
  .content-article-inner ul li:before {
    display: none; }
  .content-article-inner ul > ul {
    padding-left: 1.5rem;
    pointer-events: auto;
    opacity: 1;
    overflow: hidden;
    -webkit-transition: all 0.7s ease 0s !important;
    -o-transition: all 0.7s ease 0s !important;
    transition: all 0.7s ease 0s !important; }
  .content-article-inner ul > ul._active {
    opacity: 0;
    pointer-events: none; }
  .content-article-inner ul > li,
  .content-article-inner ul div > * {
    margin-bottom: 1.3rem; }
  .content-article-inner ul a,
  .content-article-inner li._title {
    color: #444F60;
    font-size: 1rem;
    font-family: Arial;
    font-weight: 400;
    line-height: 139%;
    display: inline-block;
    border-bottom: 0.01rem dashed #444f60; }
    @media (min-width: 1064px) {
      .content-article-inner ul a,
      .content-article-inner li._title {
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        .content-article-inner ul a:hover,
        .content-article-inner li._title:hover {
          color: #3062bf !important;
          text-decoration: none;
          border-bottom: 0.01rem dashed rgba(68, 79, 96, 0) !important; }
        .content-article-inner ul a:active,
        .content-article-inner li._title:active {
          -webkit-transform: translateY(1px);
          -ms-transform: translateY(1px);
          transform: translateY(1px);
          opacity: 0.8; } }
  .content-article-inner li._title {
    padding: 0;
    background: none;
    margin-bottom: 1.3rem;
    cursor: pointer;
    padding-left: 1.3rem;
    position: relative; }
    .content-article-inner li._title:before {
      content: "\e909";
      font-family: 'icomoon-two' !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      display: inline-block;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      position: absolute;
      left: -0.1rem;
      top: 0rem;
      font-size: 1.25rem;
      color: #444f60; }
    .content-article-inner li._title._active:before {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
    @media (min-width: 1064px) {
      .content-article-inner li._title {
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        .content-article-inner li._title a {
          -webkit-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
        .content-article-inner li._title:hover a, .content-article-inner li._title:hover:before {
          color: #3062bf !important; }
        .content-article-inner li._title:active {
          -webkit-transform: translateY(1px);
          -ms-transform: translateY(1px);
          transform: translateY(1px);
          opacity: 0.8; } }
  .content-article-inner li._title a {
    border-bottom: 0 dashed rgba(68, 79, 96, 0) !important;
    pointer-events: none; }

/*==================================*/
